@tailwind base;
@tailwind components;
@tailwind utilities;
.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

:root {
    --toast-bg: #ffffff;
    --toast-color: #374151;
}

.dark {
    --toast-bg: #374151;
    --toast-color: #ffffff;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}